.header {
  background-color: #d3d3d3;
  padding: 30px 40px;
  color: black;
  text-align: center;
}
.author {
  text-align: center;
  padding: 10px 20px;
}

.img_detail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 5px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 5px;
}
.image {
  position: relative;
  transition: transform 0.2s;
  margin: 3px 3px;
  width: 100%;
}

.image:hover {
  position: relative;
  transform: scale(1.1);
  z-index: 555555 !important;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: black;
  padding: 14px 28px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
}
