.header {
  border: 1px solid rgb(0, 0, 0);
  width: auto;
  background-color: rgb(0, 0, 0);
  overflow: auto;
}

.logoHeader {
  float: right;
  width: 20%;
  font-family: Veranda;
}
.heading {
  color: white;
  text-align: left;
  margin-left: 40px;
}

.subHeading {
  color: white;
  text-align: left;
  margin-left: 40px;
  text-decoration: none;
}

.wrapper {
  margin: 0 10px;
  display: block;
  text-align: center;
}

.featureHeader {
  font-size: 36px;
  margin-top: 40px;
}

.buttonRedirect {
  margin-left: 40px;
  width: 30%;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  padding: 14px 28px;
  font-size: 28px;
  cursor: pointer;
}

.buttonRedirect:hover {
  background-color: #ff1100;
  color: white;
  text-decoration: bold;
}

@media screen and (max-width: 500px) {
  .header p {
    float: none;
    display: block;
  }
}
